<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql:///hibernate_demo01</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">123456</property>

        <!--        <property name="connection.provider_class">C3po</property>-->
        <!--        &lt;!&ndash;在连接池中可用的数据库连接的最少数目 &ndash;&gt;-->
        <!--        <property name="c3p0.min_size">5</property>-->
        <!--        &lt;!&ndash;在连接池中所有数据库连接的最大数目  &ndash;&gt;-->
        <!--        <property name="c3p0.max_size">20</property>-->
        <!--        &lt;!&ndash;设定数据库连接的过期时间,以秒为单位,-->
        <!--        如果连接池中的某个数据库连接处于空闲状态的时间超过了timeout时间,就会从连接池中清除 &ndash;&gt;-->
        <!--        <property name="c3p0.timeout">120</property>-->
        <!--        &lt;!&ndash;每3000秒检查所有连接池中的空闲连接 以秒为单位&ndash;&gt;-->
        <!--        <property name="c3p0.idle_test_period">3000</property>-->

        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping resource="resource/Custormer.hbm.xml"></mapping>
        <mapping resource="resource/Linkman.hbm.xml"></mapping>
    </session-factory>
</hibernate-configuration>